{% extends "session/base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
  {% if form %}
    <form class="" action="" method="post">
      <div class="row pt-3">
        <div class="col-sm-6">
          <h4>{% trans 'To activate account, enter your password' %}</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-4">
          <div id="div_id_email" class="form-group">
            <label for="id_email" class="col-form-label">{% trans 'Email' %}</label>
            <div class="">
              <input name="email" class="textinput textInput form-control" id="id_email" value="{{ form.user_instance.email }}" disabled>
            </div>
          </div>
          {% load crispy_forms_tags %}
          {% csrf_token %}
          {% crispy form%}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button type="submit" class="btn btn-primary">{% trans 'Activate account' %}</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="row pt-3 pl-5">
      <p>{% trans 'Account activation link is not valid.' %}<br>
      {% trans 'If link is expired, try resetting password.' %}</p>
    </div>
  {% endif %}
</div>
{% endblock %}


