{% extends "session/base.html" %}
{% block content %}
<div class="container">
  {% if form %}
    <form class="" action="" method="post">
      <div class="row pt-3">
        <div class="col-sm-6">
          <h4>To activate account, enter your password</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-4">
          <div id="div_id_email" class="form-group">
            <label for="id_email" class="col-form-label">Email</label> 
            <div class=""> 
              <input name="email" class="textinput textInput form-control" id="id_email" value="{{ form.user_instance.email }}" disabled>
            </div> 
          </div>
          {% load crispy_forms_tags %}
          {% csrf_token %}
          {% crispy form%}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button type="submit" class="btn btn-primary">Activate account</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="row">
      <p>Account activation link is not valid.<br>
      If link is expired, contact <a href="mailto:support@fabcontrol.com?Subject=Please%20activate%20my%20{{ request_url }}%20account">support@fabcontrol.com</a> and ask for account activation.</p>
    </div>
  {% endif %}
</div>
{% endblock %}


