{% extends "session/base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'session/js/sortable.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'session/css/sortable-theme-bootstrap.css' %}" />
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <p>
      <br>
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="accordion" id="myAccordion">
        <div class="card">
          <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#legalInfoForm">
            <a name="ļegal_info">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link">Account legal information</button>
            </h2>
          </div>
          <div id="legalInfoForm" class="collapse{% if category == 'legal_info' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#myAccordion">
            <div class="card-body col-md-7">
              <form class="" action="{% url 'account_legal_info' %}" method="post" id="id_form">
                {% csrf_token %}
                {{ legal_info.first_name | as_crispy_field }}
                {{ legal_info.last_name | as_crispy_field }}
                {{ legal_info.company_country | as_crispy_field }}
                {{ legal_info.company_account | as_crispy_field }}
                <div id='company_form_content'>
                  {{ legal_info.company_name | as_crispy_field }}
                  {{ legal_info.company_registration_number | as_crispy_field }}
                  {{ legal_info.company_vat_number | as_crispy_field }}
                  {{ legal_info.company_legal_address | as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
        {% if request.user.member_of_corporation and request.user.member_of_corporation.owner != request.user %}
        {% else %}
        <div class="card">
          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#subscriptionInfo">
            <a name="subscription">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link collapsed">Subscription information</button>
            </h2>
          </div>
          <div id="subscriptionInfo" class="collapse{% if category == 'subscription' %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#myAccordion">
            <div class="card-body">
              {% if subscription %}
              <p>Active subscription: <b>{{ subscription.payment_plan.name }}</b> <a data-toggle="modal" data-target="#cancelationPrompt" href="">Cancel subscription</a></p>
              <div class="modal fade" id="cancelationPrompt" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Cancel subscription</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>By pressing "Cancel subscription", you confirm cancellation of full access subscription.</p>
                      <small>You will have full access till {{ request.user.subscription_expiration|date:"Y-m-d" }}.</small>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" onclick="location.href='{% url 'cancel_subscription' subscription.pk %}'">Cancel subscription</button>
                    </div>
                  </div>
                </div>
              </div>
              <p>Payment method: {{ subscription.card_info|title }} <a href="{% url 'update_payment_method' subscription.pk %}">Change</a></p>
              {% else %}
                <p>You don't have any active subscriptions.</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card">
          <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#corporationInfo">
            <a name="corporation">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link collapsed">Users</button>
            </h2>
          </div>
          <div id="corporationInfo" class="collapse{% if category == 'corporation' %} show {% endif %}" aria-labelledby="headingThree" data-parent="#myAccordion">
            <div class="card-body col-md-11">
              {% if request.user.member_of_corporation %}
                {% with corporation=request.user.member_of_corporation %}
                  <div>
                    <table class="sortable sortable-theme-bootstrap table" data-sortable>
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Email</th>
                          <th data-defaultsort="asc">Role</th>
                          <th>Last active</th>
                          <th data-defaultsort='disabled'></th>
                        </tr>
                      </thead>
                      <tbody>
                        {# ROW CONTENTS #}
                        {% for user in corporation.team_sorted %}
                        <tr{% if user == corporation.owner %} data-disablesort="true"{% endif %}>
                          <td>{{ user.first_name }} {{ user.last_name }}</td>
                          <td>{{ user.email }}</td>
                          <td>{% if user == corporation.owner %}Owner{% elif user.manager_of_corporation == corporation %}Manager{% else %}User{% endif %}</td>
                          <td>{{ user.last_active|default_if_none:"-" }}</td>
                          <td>
                            {% if user != corporation.owner %}
                            {% if request.user.manager_of_corporation or user == request.user %}
                            <div class="dropdown">
                              <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if request.user.manager_of_corporation %}
                                <form class="" action="{% if user.manager_of_corporation %}{% url 'resign_manager_role' %}{% else %}{% url 'assign_manager_role' %}{% endif %}" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="uid" value="{{ user.pk }}">
                                  <button class="dropdown-item" type="submit">{% if user.manager_of_corporation %}Resign manager role{% else %}Assign manager role{% endif %}</button>
                                </form>
                                {% endif %}
                                <button class="dropdown-item" data-toggle="modal" data-target="#removeFromCorporationPrompt{{ user.pk }}">Remove</button>
                              </div>
                              <div class="modal fade" id="removeFromCorporationPrompt{{ user.pk }}" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Remove from company</h4>
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                      <p>By pressing "Remove", you confirm removal of <b>{{ user.first_name }} {{ user.last_name }}</b> from your corporation.</p>
                                    </div>
                                    <div class="modal-footer">
                                      <form class="" action="{% url 'remove_from_corporation' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="uid" value="{{ user.pk }}">
                                        <button class="btn btn-danger" type="submit">Remove</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                        {% for user in corporation.invited_users %}
                        <tr>
                          <td>{{ user.first_name }} {{ user.last_name }}</td>
                          <td>{{ user.email }}</td>
                          <td>Invitation sent</td>
                          <td></td>
                          <td>
                          {% if request.user.manager_of_corporation %}
                          <div class="dropdown">
                            <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <button class="dropdown-item" data-toggle="modal" data-target="#removeFromCorporationPrompt{{ user.pk }}">Remove</button>
                            </div>
                            <div class="modal fade" id="removeFromCorporationPrompt{{ user.pk }}" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Remove from corporation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                    <p>By pressing "Remove", you confirm removal of <b>{{ user.first_name }} {{ user.last_name }}</b> from your corporation.</p>
                                  </div>
                                  <div class="modal-footer">
                                    <form class="" action="{% url 'cancel_corporation_invitation' %}" method="post">
                                      {% csrf_token %}
                                      <input type="hidden" name="email" value="{{ user.email }}">
                                      <button class="btn btn-danger" type="submit">Remove</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                        {% for affiliate in corporation.affiliate_set.all %}
                        <tr>
                          <td>{{ affiliate.name }}</td>
                          <td>{{ affiliate.email }}</td>
                          <td>Invitation sent</td>
                          <td></td>
                          <td>
                          {% if request.user.manager_of_corporation %}
                          <div class="dropdown">
                            <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <button class="dropdown-item" data-toggle="modal" data-target="#removeCorporationInvitationPrompt{{ affiliate.pk }}">Remove</button>
                            </div>
                            <div class="modal fade" id="removeCorporationInvitationPrompt{{ affiliate.pk }}" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Remove from corporation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                    <p>By pressing "Remove", you confirm removal of <b>{{ affiliate.name }}</b> from your corporation.</p>
                                  </div>
                                  <div class="modal-footer">
                                    <form class="" action="{% url 'cancel_corporation_invitation' %}" method="post">
                                      {% csrf_token %}
                                      <input type="hidden" name="email" value="{{ affiliate.email }}">
                                      <button class="btn btn-danger" type="submit">Remove</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                        {% if corporation.allow_invites and request.user.manager_of_corporation %}
                          <tr  data-disablesort='true'>
                            <form class="form-inline" action="{% url 'invite_into_corporation' %}" method="post">
                              <td>{{ corporate_invitation.name }}</td>
                              <td>{{ corporate_invitation.email }}</td>
                              <td></td>
                              <td></td>
                              <td>
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Invite user</button>
                              </td>
                            </form>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                  {% if not corporation.allow_invites %}
                  <div class="row pt-8"><p></p></div>
                  {% endif %}
                {% endwith %}
              {% else %}
                <p>You don't have a business account.<br></p>
                <button type="button" onclick="location.href='{% url 'plans' %}#corporate'" class="btn btn-primary btn">Upgrade</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    if ($('#id_company_account')[0].checked == false)
      { $('#company_form_content').slideUp(0); }

  $('#id_company_account').change(function(event) {
    if (event.target.checked)
      { $('#company_form_content').slideDown(); }
    else
      { $('#company_form_content').slideUp(); }
  });
</script>
{% endblock %}
