{% extends "session/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <p>
      <br>
    </p>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="accordion" id="myAccordion">
        <div class="card">
          <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#legalInfoForm">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link">Account legal information</button>
            </h2>
          </div>
          <div id="legalInfoForm" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
            <div class="card-body">
              <form class="" action="" method="post" id="id_form">
                {% csrf_token %}
                {{ legal_info.first_name | as_crispy_field }}
                {{ legal_info.last_name | as_crispy_field }}
                {{ legal_info.company_account | as_crispy_field }}
                <div id='company_form_content'>
                  {{ legal_info.company_name | as_crispy_field }}
                  {{ legal_info.company_registration_number | as_crispy_field }}
                  {{ legal_info.company_vat_number | as_crispy_field }}
                  {{ legal_info.company_country | as_crispy_field }}
                  {{ legal_info.company_legal_address | as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#subscriptionInfo">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link collapsed">Subscription information</button>
            </h2>
          </div>
          <div id="subscriptionInfo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
            <div class="card-body">
              {% if subscription %}
              <p>Active subscription: <b>{{ subscription.payment_plan.name }}</b> <a data-toggle="modal" data-target="#cancelationPrompt" href="">Cancel subscription</a></p>
              <div class="modal fade" id="cancelationPrompt" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Cancel subscription</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>By pressing "Cancel subscription", you confirm cancellation of full access subscription.</p>
                      <small>You will have full access till {{ request.user.subscription_expiration|date:"Y-m-d" }}.</small>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" onclick="location.href='{% url 'cancel_subscription' subscription.pk %}'">Cancel subscription</button>
                    </div>
                  </div>
                </div>
              </div>
              <p>Payment method: {{ subscription.card_info|title }} <a href="{% url 'update_payment_method' subscription.pk %}">Change</a></p>
              {% else %}
                <p>You don't have any active subscriptions.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    if ($('#id_company_account')[0].checked == false)
      { $('#company_form_content').slideUp(0); }

  $('#id_company_account').change(function(event) {
    if (event.target.checked)
      { $('#company_form_content').slideDown(); }
    else
      { $('#company_form_content').slideUp(); }
  });
</script>
{% endblock %}
