{% extends "session/base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'session/js/sortable.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'session/css/sortable-theme-bootstrap.css' %}" />
<div class="container pt-3">
  <div class="row">
    <div class="col-sm-12">
      <h3>Invite a friend</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>After your friend registers you will receive a free week of 3D Optimizer.</p>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <form action="" method="post">
          {% load crispy_forms_tags %}
          {% crispy form%}
        </form>
      </div>
  </div>
  <hr>
  <div class="row pt-3">
    <div class="col-sm-12">
      <div class="card p-2">
        <table class="sortable-theme-bootstrap table" data-sortable>
          <thead>
            <tr>
              <th data-sorted="true" data-sortable="true">Date</th>
              <th data-sortable="true">Name</th>
              <th data-sortable="true">Email</th>
              <th data-sortable="true">Status</th>
              <th data-sortable="true">Bonus</th>
            </tr>
          </thead>
          <tbody>
            {# ROW CONTENTS #}
            {% for affiliate in object_list %}
            <tr>
              <td>{{ affiliate.date_created }}</td>
              <td>{{ affiliate.name }}</td>
              <td>{{ affiliate.email }}</td>
              <td>{% if affiliate.is_confirmed %}Registered{% else %}Invitation sent{% endif %}</td>
              <td>{% if affiliate.is_confirmed %}Received {{ affiliate.days_assigned }} days premium access{% else %} - {% endif %}</td>
            </tr>
            {% empty %}
            <tr>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
