{% extends "session/base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
  <div class="row pt-3">
    <div class="col-sm-6">
      <h2>{% trans 'Change Password' %}</h2>
      {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">{% trans 'Save' %}</button>
      </form>
      {% else %}
      <p>{% trans 'The password reset link was invalid, possibly because it has already been used.' %}</p>
      <p>{% trans 'Please request a new password reset.' %}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


