{% extends "session/base.html" %}
{% block content %}
<div class="container">
  <form class="" action="" method="post">
    <div class="row">
      <div class="col-sm-5">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {% crispy form %}
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
        </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  function validate_p1() {

  }
</script>
{% endblock %}
