container_commands:
  01_init_database:
    leader_only: true
    command: mysql -u ${DB_USERNAME} -p${DB_PASSWORD} -h ${DB_HOST} -P ${DB_PORT} -e "CREATE DATABASE IF NOT EXISTS ${DB_NAME}"

  01_collectstatic:
    command: "python manage.py collectstatic --noinput"

  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
