container_commands:
  00_install_dependancies:
    command: "pip install -r req.txt"

  01_init_database:
    leader_only: true
    command: mysql -u ${DB_USERNAME} -p${DB_PASSWORD} -h ${DB_HOST} -P ${DB_PORT} -e "CREATE DATABASE IF NOT EXISTS ${DB_NAME} CHARACTER SET UTF-8"

  02_init_database:
    leader_only: true
    command: mysql -u ${DB_USERNAME} -p${DB_PASSWORD} -h ${DB_HOST} -P ${DB_PORT} -e "ALTER DATABASE IF NOT EXISTS ${DB_NAME} CHARACTER SET UTF-8"

  03_collectstatic:
    command: "python manage.py collectstatic --noinput"

  04_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
