Resources:
  DBEC2SecurityGroup:
    DependsOn: AWSEBSecurityGroup
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      GroupDescription: Open database for access
      VpcId:
        Fn::GetAtt:
          - AWSEBSecurityGroup
          - VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '3306'
          ToPort: '3306'
          SourceSecurityGroupId:
            Fn::GetAtt:
              - AWSEBSecurityGroup
              - GroupId
  DBSubnetGroup:
    Type: "AWS::RDS::DBSubnetGroup"
    Properties:
      DBSubnetGroupDescription: "Subnets for Database"
      SubnetIds:
        - Fn::GetOptionSetting:
            Namespace: aws:elasticbeanstalk:customoption
            OptionName: PrivateSubnetA
        - Fn::GetOptionSetting:
            Namespace: aws:elasticbeanstalk:customoption
            OptionName: PrivateSubnetB
        - Fn::GetOptionSetting:
            Namespace: aws:elasticbeanstalk:customoption
            OptionName: PrivateSubnetC
  DatabaseInstance:
    Type: AWS::RDS::DBInstance
    Properties:
      AutoMinorVersionUpgrade: true
      AllocatedStorage:
        Fn::GetOptionSetting:
          Namespace: aws:elasticbeanstalk:customoption
          OptionName: DBSize
      DBInstanceClass: db.t2.small
      Engine: mysql
      EngineVersion: 5.7.24
      MasterUsername:
        Fn::GetOptionSetting:
          Namespace: aws:elasticbeanstalk:customoption
          OptionName: DBUser
      MasterUserPassword:
        Fn::GetOptionSetting:
          Namespace: aws:elasticbeanstalk:customoption
          OptionName: DBPassword
      DBName:
        Fn::GetOptionSetting:
          Namespace: aws:elasticbeanstalk:customoption
          OptionName: DBName
      PubliclyAccessible: false
      VPCSecurityGroups:
        - Ref: DBEC2SecurityGroup
      DBSubnetGroupName:
        Ref:
          DBSubnetGroup
  DNSRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId:
        Fn::GetOptionSetting:
          Namespace: aws:elasticbeanstalk:customoption
          OptionName: HostedZone
      Name:
        Fn::GetOptionSetting:
          Namespace: aws:elasticbeanstalk:customoption
          OptionName : NewDomain

      ResourceRecords:
        - Fn::GetAtt:
          - AWSEBV2LoadBalancer
          - DNSName
      TTL: '900'
      Type: CNAME

