option_settings:
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Health
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health_check
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health_check
  aws:elasticbeanstalk:application:environment:
    APP_HOST: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "NewDomain"}}`'
    OPTIMIZER_READ_CONFIG_FILE: "True"
    SECRET_KEY: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "SecretKey"}}`'
    OPTIMIZER_DNS: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "OptimizerDns"}}`'
    DB_ENGINE: mysql
    DB_HOST: '`{"Fn::GetAtt" : [ "DatabaseInstance", "Endpoint.Address" ]}`'
    DB_PORT: '`{"Fn::GetAtt" : [ "DatabaseInstance", "Endpoint.Port" ]}`'
    DB_USERNAME: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "DBUser"}}`'
    DB_PASSWORD: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "DBPassword"}}`'
    DB_NAME: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "DBName"}}`'
    EMAIL_HOST: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "EmailHost"}}`'
    EMAIL_HOST_USER: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "EmailHostUser"}}`'
    EMAIL_HOST_PASSWORD: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:customoption", "OptionName": "EmailHostPassword"}}`'
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:443:
    Protocol: HTTPS
  aws:elasticbeanstalk:container:python:
    WSGIPath: Optimizer3D/wsgi.py
