{% extends "session/base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'session/js/sortable.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'session/css/sortable-theme-bootstrap.css' %}" />
<div class="container pt-3">
  <div class="row pt-3">
    <div class="col-sm-12">
      <div class="card p-2">
        <table class="sortable-theme-bootstrap table" data-sortable>
          <thead>
            <tr>
              <th data-sorted="true" data-sortable="true">Invoice</th>
              <th data-sortable="true">Date</th>
              <th data-sortable="true">Amount paid</th>
              <th data-sortable="false"></th>
            </tr>
          </thead>
          <tbody>
            {# ROW CONTENTS #}
            {% for invoice in invoices %}
            <tr>
              <td><a href="{% url 'view_invoice' invoice.pk %}" target="_blank">{{ invoice.invoice_number }}</a></td>
              <td>{{ invoice.created }}</td>
              <td>{{ invoice.payment_plan.price }}</td>
              <td>
                <button class="btn-sm btn-primary" type="button" onclick="location.href='{% url 'download_invoice' invoice.pk %}'">Download</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
