{% extends "session/base.html" %}
{% block content %}
<div class="container">
  {% if not request.user.is_authenticated %}
  <div class="row pt-4 text-center">
    <div class="col">
      <div class="card p-4">
        <input type="hidden" name="plan_id" value="{{ plan.pk }}">
        <div class="row justify-content-center">
          <div class="col-sm-12 text-left">
            <h1 class="display-4">Basic</h1>
            <p class="lead text-primary">{{core.pretty_price}} EUR</p>
            <hr>
            <p>Access to basic features</p>
            <button onclick="window.location.href = '{% url 'signup' %}'" class="btn-lg btn-primary" name="signup">Sign up for free</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  {% if request.user.plan == 'premium' %}
  <div class="row pt-5 text-center justify-content-center">
    <div class="col-sm">
      <h1 class="display-4"><b>{{expiration}} days</b> of full access remaining.</h1>
    </div>
  </div>
  {% endif %}
  {% endif %}

  <div class="row pt-5 text-center">
    {% for plan in plans %}
    <div class="col">
      <div class="card p-4 {% if request.user.is_authenticated %} {% if active_subscriptions %} {% if active_subscriptions.0.payment_plan == plan %}alert-success{% endif %}{% endif %}{% endif %}">
        <form class="" action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="plan_id" value="{{ plan.pk }}">
          <div class="row justify-content-center">
            <div class="col-sm-12 text-left">
              <h1 class="display-4">{{plan.name}}</h1>
              <p class="text-primary"><span class='lead'>{{plan.pretty_price}} EUR</span>
                <br>
                {% if plan.is_one_time %}
                  <small>One-time payment</small>
                  <br>
                  <small>No subscription</small>
                {% else %}
                  <small>Recurring payment</small>
                  <br>
                  <small>Subscription-based</small>
                {% endif %}
              </p>
              <hr>
              <p>Full access to all features</p>
              {% if request.user.is_authenticated %}
                {% if active_subscriptions %}
                  {% if active_subscriptions.0.payment_plan == plan %}
                    Curently active
                    {% else %}<br>
                  {% endif %}
                {% else %}<button type="submit" class="btn btn-primary" name="{{plan.name}}button">Purchase</button>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row pt-5 text-center">
    <p>If you’re not happy with our software for any reason, we’ll refund your money within a week from payment date no-questions-asked.</p>
  </div>
</div>
{% endblock %}
