{% extends "session/base.html" %}

{% block extra_resources %}
<style>
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#0099DB 0%, #006794 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #0099DB;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #0099DB;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #0099DB;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #0099DB;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  {% if request.user.member_of_corporation is None %}
    {% if request.user.plan == 'premium' and not active_subscriptions %}
    <div class="row pt-5 text-center justify-content-center">
      <div class="col-sm">
        <h1 class="display-4"><b>{{expiration}} days</b> of full access remaining.</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div>
        <small><b><a href="{% url 'my_affiliates' %}">Invite a friend and get full access to 3DOptimizer for a week!</a></b></small>
      </div>
    </div>
    {% endif %}
  <ul class="nav nav-tabs justify-content-center pt-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link{% if section is None or section == 'individual' %} active{% endif %}" id="individual-tab" data-toggle="tab" href="#individual" role="tab" aria-controls="individual" aria-selected="{% if section is None or section == 'individual' %}true{% else %}false{% endif %}">Individual</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if section == 'business' %} active{% endif %}" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="{% if section == 'business' %}true{% else %}false{% endif %}">Business</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if section == 'education' %} active{% endif %}" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="{% if section == 'education' %}true{% else %}false{% endif %}">Education</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade{% if section is None or section == 'individual' %} show active{% endif %}" id="individual" role="tabpanel" aria-labelledby="individual-tab">
      <div class="row pt-5 text-center">
        {% for plan in plans %}
        <div class="col">
          <div class="h-100 card p-4 {% if active_subscriptions %} {% if active_subscriptions.0.payment_plan == plan %}alert-success{% endif %}{% endif %}">
            {% if plan.popular_badge %}<div class="ribbon"><span>POPULAR</span></div>{% endif %}
            <form class="" action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="plan_id" value="{{ plan.pk }}">
              <div class="row justify-content-center">
                <div class="col-sm-12 text-left">
                  <div class="col-sm-19">
                    <img src="{{ plan.banner_image }}" style="width: 35% !important;" class="rounded float-right" alt="{{ plan.name }}">
                    <h1 class="display-4">{{plan.name}}</h1>
                    <p class="text-primary"><span class='lead'>{{plan.pretty_price}} {{ plan.currency.name }}</span>
                    <br>
                    <small>{{ plan.payment_frequency_string }}</small>
                    </p>
                  </div>
                  <hr>
                  <p>All tests<br>
                  Full guided testing mode<br>
                  Advanced testing mode<br>
                  Email support
                  {% for line in plan.extra_info_text_lines %}
                    <br>{{ line }}
                  {% endfor %}
                  </p>
                  {% if request.user.is_authenticated %}
                    {% if active_subscriptions %}
                      {% if active_subscriptions.0.payment_plan == plan %}
                        Currently active
                        {% else %}<br>
                      {% endif %}
                    {% else %}<button type="submit" class="btn btn-primary" name="{{plan.name}}button">Purchase</button>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row pt-3 justify-content-center">
        <p>If you’re not happy with our software for any reason, we’ll refund your money within a week from payment date no-questions-asked.</p>
      </div>
      <div class="row pt-5 justify-content-center">
        {% if not active_subscriptions %}
          {% load crispy_forms_tags %}
          {% crispy voucher_form %}
        {% endif %}
      </div>
    </div>
    <div class="tab-pane fade{% if section == 'business' %} show active{% endif %}" id="business" role="tabpanel" aria-labelledby="business-tab">
  {% else %}
  <div class="row pt-5 text-center justify-content-center">
    <div class="col-sm">
      <h1 class="display-4">Payment plans</h1>
    </div>
  </div>
  {% endif %}
      <div class="row pt-5 text-center">
        {% for plan in corporation_plans %}
        <div class="col">
          <div class="card h-100 p-4 {% if request.user.is_authenticated %} {% if active_subscriptions %} {% if active_subscriptions.0.payment_plan == plan %}alert-success{% endif %}{% endif %}{% endif %}">
            {% if plan.popular_badge %}<div class="ribbon"><span>POPULAR</span></div>{% endif %}
            <form class="" action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="plan_id" value="{{ plan.pk }}">
              <div class="row justify-content-center">
                <div class="col-sm-12 text-left">
                  <h1 class="display-4">{{plan.name}}</h1>
                  <p class="text-primary"><span class='lead'>{{plan.pretty_price}} {{ plan.currency.name }}</span>
                    <br>
                    <small>{{ plan.payment_frequency_string }}</small>
                  </p>
                  <hr>
                  <p>All tests<br>
                  Full guided testing mode<br>
                  Advanced testing mode<br>
                  {{ plan.max_users_allowed }} users included<br>
                  Email support
                  {% for line in plan.extra_info_text_lines %}
                    <br>{{ line }}
                  {% endfor %}
                  </p>
                  {% if request.user.is_authenticated %}
                    {% if active_subscriptions %}
                      {% if active_subscriptions.0.payment_plan == plan %}
                        Currently active
                        {% else %}<br>
                      {% endif %}
                    {% else %}<button type="submit" class="btn btn-primary" name="{{plan.name}}button">Purchase</button>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row pt-3 justify-content-center">
        <p>If you need different setup or more users, contact <a href="mailto:sales@fabcontrol.com">sales@fabcontrol.com</a></p>
      </div>
  {% if request.user.member_of_corporation is None %}
    </div>
    <div class="tab-pane fade{% if section == 'education' %} show active{% endif %}" id="education" role="tabpanel" aria-labelledby="education-tab">
      <div class="row pt-5 justify-content-center">
        <h2>Individual account</h2>
      </div>
      <div class="row pt-3 justify-content-center">
        <p>Free full access for individual students and teachers - </br><a href="mailto:support@fabcontrol.com?subject=Individual education account">contact support</a> after creating a free account to activate.</p>
      </div>
      <div class="row pt-5 justify-content-center">
        <h2>Educational institution account</h2>
      </div>
      <div class="row pt-3 justify-content-center">
        <p>We offer discounts for multi-user accounts — contact <a href="mailto:sales@fabcontrol.com?subject=Educational institution account">sales@fabcontrol.com</a>.</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
