{% extends "admin/change_form.html" %}
{% block content %}
{{ block.super }}

{% if original %}
{% with original.redeemers as redeemers %}
<div class="result">
  <h3 style="padding: 15px;">Redeemers</h3>
{% if redeemers %}
  <table id="result_list"  style="width: 100%;">
    <thead>
      <tr>
        <th>
          <div class="text">Email</div>
        </th>
        <th>
          <div class="text">Date redeemed</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for redeemer in redeemers %}
      <tr>
        <td>{{ redeemer.user.email }}</td>
        <td>{{ redeemer.date_redeemed }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
{% endwith %}
{% endif %}
{% endblock %}
