{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% with affiliate.sender.first_name as first_name and affiliate,sender.last_name as last_name %}
<p>{% blocktrans %}Hi, {{ first_name }} {{ last_name }}!{% endblocktrans %}</p>
{% endwith %}
<p>{% blocktrans %}{{ affiliate.name }} ({{ affiliate.email }}) has registered and started to use his 3DOptimizer account.{% endblocktrans %}<br>
{% blocktrans %}To thank you, we've awarded you a free {{ affiliate.days_assigned }} days of full access.{% endblocktrans %}<br>
{% blocktrans with affiliate.sender.subscription_expiration|date:"Y-m-d" as expiration_date %}Your full access now expires on {{ expiration_date }}.{% endblocktrans %}</p>
{% endblock content %}
